body {
  background-color: maroon;
  color: white;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

nav {
  border:  2px red;
  background-color: rgb(124, 125, 147);
  text-align: center;
}

nav li a {
  background-color: maroon;
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: x-large;
}
a {
  text-decoration: none;
}

header {
  text-align: center;
  background-color: black;
  margin: 1;
  padding: 3px;
}

Main{
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

p {
  border-width: 50px;
  border-radius: 30px;
  background-color: brown;
  font-size: large;  
}
