

p {
  border-style: ridge;
  border-width: 5px;
  border-radius: 30px;
  background-color: brown;
  font-size: large; 
  text-align: center;
  
} 

h2{
    padding: 50px;
    background-color: brown;
    border-radius: 4px;
    border-style: ridge;
    border-color: azure;
    text-align: left auto;
    font-size: larger;
}
.focalImage{
    max-width: 300px;
    border-radius:15px;
    align-content: right;
}

.container {
    display: flex;
    min-height: 10vh; 
}
/* Creates a column on the left */
.left-column {
    background-color: black;
    width: 150px;
    padding-top: 20px;
    box-sizing: border-box;
}

/* Makes space in the middle */
.main-content {
    flex: 1; 
    background-color: maroon;
    padding: 10px;
    box-sizing: border-box;
    
}
